


<div class="homeholder">
<div class="home">


    <h1 align="center" ng-click="allEm()"  ng-mouseenter="mouseOver(0)" ng-mouseleave="mouseLeave(0)">

                          {{titles[0]}}

                          </h1>

                          </div>



<div class="home">
    <h1 class="make" align="center" ng-click="friends()" ng-mouseenter="mouseOver(1)" ng-mouseleave="mouseLeave(1)">

                          {{titles[1]}}


                          </h1>

                          </div>

<div>

<div class="home">
    <h1 class="make" align="center" ng-click="getMine()" ng-mouseenter="mouseOver(2)" ng-mouseleave="mouseLeave(2)">

                          {{titles[2]}}


                          </h1>

                          </div>



<div class="home">
    <h1 class="make" align="center" ng-click="actanos=!actanos" ng-mouseenter="mouseOver(3)" ng-mouseleave="mouseLeave(3)">

                             {{titles[3]}}


                          </h1>

                          </div>


  </div>
  </div>
